@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height: 66px;
  --footer-height: 160px;
}

.btn {
  text-transform: none;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-fullpage {
  min-height: calc(100vh - var(--navbar-height));
}

.avoid-nav {
  margin-top: var(--navbar-height);
}
